<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
     <link rel="stylesheet" href="/static/js/bootstrap.js" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://www.see-source.com/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.see-source.com/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.see-source.com/bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="http://www.see-source.com/bootstrap/js/bootstrap-transition.js"></script>
    <title></title>
</head>
<body>

<div style="background-color:#888;color:#fff;" >
 <!--   <div align="left">
        <p>welcome!!!</p>
    </div>
   -->
<!--    登陆用户:{{username}}<br>
#    <a href="{% url 'logout' %}">退出</a>

    <input type="button" value="退出系统" onclick="parent.location.href='login'"> -->
    <div align="right">
    <a onclick="parent.location.href='logout'">退出系统</a>
    </div>
   <!--<h2><center>版本管理</center></h2> -->
</div>
</body>
</html>